defaults:
  - _self_
  - serve: qwen2.5_7b

experiment:
  exp_name: qwen_gen
  exp_dir: outputs/${experiment.exp_name}
  task:
    type: serve
    backend: vllm
    entrypoint: null
  runner:
    hostfile: null
  envs:
    CUDA_VISIBLE_DEVICES: 4
    CUDA_DEVICE_MAX_CONNECTIONS: 1

action: run

hydra:
  run:
    dir: ${experiment.exp_dir}/hydra 
