[submodule "third_party/Megatron-LM"]
	path = third_party/Megatron-LM
	url = https://gitee.com/jayli6/Megatron-LM.git
	branch = main
[submodule "third_party/vllm"]
	path = third_party/vllm
	url = https://github.com/vllm-project/vllm.git
	branch = main
[submodule "third_party/Megatron-Energon"]
	path = third_party/Megatron-Energon
	url = https://gitee.com/jayli6/Megatron-Energon.git
	branch = develop
