[submodule "third_party/Megatron-LM"]
	path = third_party/Megatron-LM
	url = https://github.com/NVIDIA/Megatron-LM.git
[submodule "third_party/vllm"]
	path = third_party/vllm
	url = https://github.com/vllm-project/vllm.git
	branch = main
[submodule "third_party/Megatron-Energon"]
	path = third_party/Megatron-Energon
	url = https://github.com/NVIDIA/Megatron-Energon.git
