__pycache__
*.so
build
.coverage_*
*.egg-info
*~
slurm*
logs
.vscode
log_file/*
outputs
*.log
*.out
megatron/megatron/energon
third_party/Megatron-LM/*
third_party/vllm/*

# test results
tests/functional_tests/test_cases/*/*/results_test
