exclude: |
    (?x)^(
        flagscale/backends/.*|
        third_party/.*|
        megatron-energon/.*|
        hardware/.*\.patch|
        .*\.md|
        .*\.sh|
        .*\.txt|
        .*\.yaml|
        .*\.yml$
    )$
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: detect-private-key
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
-   repo: https://github.com/Lucas-C/pre-commit-hooks.git
    rev: v1.5.5
    hooks:
    -   id: remove-crlf
    -   id: remove-tabs
        name: Tabs remover (Python)
        files: (.*\.(py))$
        args: [--whitespaces-count, '4']
-   repo: https://github.com/psf/black
    rev: 25.11.0
    hooks:
    -   id: black
        exclude: |
            (?x)^(
                flagscale/backends/.*|
                third_party/.*|
                megatron-energon/.*|
                hardware/.*\.patch|
                flagscale/inference/processing_emu3.py|
                flagscale/train/train.*\.py|
                flagscale/train/models/.*|
                flagscale/train/hetero/.*|
                tools/checkpoint/loader.*\.py|
                tools/checkpoint/saver.*\.py|
                .*\.md|
                .*\.sh|
                .*\.txt|
                .*\.yaml|
                .*\.yml$
            )$
-   repo: https://github.com/PyCQA/isort
    rev: 7.0.0
    hooks:
    -   id: isort
        exclude: |
            (?x)^(
                flagscale/backends/.*|
                third_party/.*|
                megatron-energon/.*|
                hardware/.*\.patch|
                flagscale/inference/processing_emu3.py|
                flagscale/train/train.*\.py|
                flagscale/train/models/.*|
                flagscale/train/hetero/.*|
                tools/checkpoint/loader.*\.py|
                tools/checkpoint/saver.*\.py|
                .*\.md|
                .*\.sh|
                .*\.txt|
                .*\.yaml|
                .*\.yml$
            )$
# -   repo: local
#     hooks:
#     -   id: check-header
#         name: check-header
#         entry: python ./tools/codestyle/check_header.py
#         language: python
#         types: [python]
#         exclude: |
#             (?x)^(
#                 flagscale/backends/.*|
#                 megatron-energon/.*|
#                 hardware/.*\.patch|
#                 flagscale/train/train.*\.py|
#                 flagscale/train/models/.*|
#                 flagscale/train/hetero/.*|
#                 tools/checkpoint/loader.*\.py|
#                 tools/checkpoint/saver.*\.py|
#                 .*\.sh$  # Exclude all .sh files
#             )$
