nltk==3.8.1
numpy==1.23.2
s3fs
git+https://github.com/fanshiqing/grouped_gemm@v1.1.4
git+https://github.com/Dao-AILab/causal-conv1d.git@v1.2.2.post1

-r ../../../megatron/requirements/pytorch:24.01/requirements.txt
