git+https://github.com/Dao-AILab/causal-conv1d.git@v1.2.2.post1
git+https://github.com/fanshiqing/grouped_gemm@v1.1.2
av
boto3
braceexpand
mock
multi-storage-client
nltk==3.8.1
nvidia-modelopt==0.27.0
opencv-contrib-python
pandas
s3fs
transformers==4.51.0
webdataset

-r ../../../third_party/Megatron-LM/requirements/pytorch_24.10/requirements.txt
-r ../../../third_party/Megatron-LM/requirements_ci.txt
-r ../../../third_party/Megatron-LM/requirements_mlm.txt