# robotics training requirements
absl-py
accelerate
aiohappyeyeballs
aiohttp
aiosignal
albucore
albumentations
aliyun-python-sdk-core
aliyun-python-sdk-kms
annotated-types
antlr4-python3-runtime
anyio
appdirs
array-record
asttokens
astunparse
attrs
augmax
av
bddl
beartype
beautifulsoup4
black
blinker
boto3
botocore
cachetools
certifi
cffi
charset-normalizer
chex
cityscapesscripts
click
clip
cloudpickle
cmake
coloredlogs
conda-pack
contourpy
crc32c
crcmod
cryptography
cycler
cython
daqp
datasets
decorator
deepdiff
deepspeed
diffusers
dill
distro
docstring-parser
donfig
draccus
easydict
egl-probe
einops
equinox
etils
evdev
executing
farama-notifications
fastjsonschema
filelock
flask
flask-cors
flatbuffers
flax
fonttools
frozenlist
fsspec
ftfy
future
fvcore
gast
gcsfs
gdown
gitdb
gitpython
glfw
google-api-core
google-auth
google-auth-oauthlib
google-cloud-core
google-cloud-storage
google-crc32c
google-pasta
google-resumable-media
googleapis-common-protos
grpcio
# gym
# gym-aloha
# gym-notices
gymnasium
h11
h5py
hf-transfer
hf-xet
hjson
httpcore
httpx
huggingface-hub
humanfriendly
humanize
hydra-core
idna
imagecodecs
imageio
imageio-ffmpeg
immutabledict
importlib-metadata
importlib-resources
iniconfig
inquirerpy
iopath
ipdb
ipython
ipython-pygments-lexers
itsdangerous
jax
jax-cuda12-pjrt
jax-cuda12-plugin
jaxlib
jaxtyping
jedi
jinja2
jiter
jmespath
jsonlines
jsonschema
jsonschema-specifications
jupyter-core
jupytext
keras
kiwisolver
kornia
kornia-rs
labmaze
lazy-loader
lerobot
libclang
llvmlite
lxml
lz4
markdown
markdown-it-py
markupsafe
matplotlib
matplotlib-inline
mdit-py-plugins
mdurl
mergedeep
mink
ml-collections
ml-dtypes
mpmath
msgpack
mujoco
multidict
multiprocess
# multiscaledeformableattention
mypy-extensions
namex
nbformat
nest-asyncio
networkx
ninja
numba
numcodecs
numpy
numpy-quaternion
numpydantic
oauthlib
omegaconf
openai
opencv-python
opencv-python-headless
# openpi
# openpi-client
opt-einsum
optax
optree
orbax-checkpoint
orderly-set
oss2
packaging
pandas
# panopticapi
parso
pathspec
pexpect
pfzy
pillow
platformdirs
pluggy
polars
portalocker
promise
prompt-toolkit
propcache
proto-plus
protobuf
psutil
ptyprocess
pure-eval
py-cpuinfo
pyarrow
pyasn1
pyasn1-modules
pycocotools
pycparser
pycryptodome
pydantic
pydantic-core
pygments
pymunk
pynput
pyopengl
pyparsing
pyquaternion
pysocks
pytest
python-dateutil
python-xlib
pytransform3d
pytz
pyyaml
pyyaml-include
pyzmq
qpsolvers
qwen-vl-utils
ray
referencing
regex
requests
requests-oauthlib
rerun-sdk
rich
robomimic
robosuite
robotics
rosbags
rpds-py
rsa
ruamel-yaml
ruamel-yaml-clib
s3transfer
safetensors
scikit-image
scipy
sentencepiece
sentry-sdk
setuptools
shapely
shtab
simple-parsing
simplejson
simsimd
six
smmap
sniffio
soupsieve
stack-data
stringzilla
submitit
svgwrite
sympy
tabulate
tensorboard
tensorboard-data-server
tensorboardx
tensorflow-cpu
tensorflow-datasets
tensorflow-io-gcs-filesystem
tensorflow-metadata
tensorstore
termcolor
thop
tifffile
timm
tokenizers
toml
toolz
tqdm
tqdm-loggable
traitlets
transformers>=4.55.0
tree
treescope
triton
typed-argument-parser
typeguard
types-boto3-s3
typing
typing-extensions
typing-inspect
typing-inspection
tyro
tzdata
urllib3
uv
wadler-lindig
wandb
wcwidth
websockets
werkzeug
wrapt
xxhash
yacs
yarl
zarr
zipp
zstandard
dm-control
dm-env
dm-tree