# DeepSeek 16B, 2.4A Model
defaults:
  - _self_
  - train: train_deepseek_v3.yaml

experiment:
  exp_name: DeepSeek-V3-Test
  seed: 42
  save_steps: 10000
  load: None
  exp_dir: ./dualpipev_test_vpp
  ckpt_format: torch
  task:
    type: train
    backend: megatron
    entrypoint: flagscale/train/train_gpt.py
  runner:
    per_node_task: false
    no_shared_fs: false
    rdzv_backend: static
    # hostfile: /share/project/daizijian/hostfile
    hostfile: null
  cmds:
    before_start: "ulimit -n 1048576 && source /root/miniconda3/bin/activate flagscale_newest_torch"
  envs:
    LOGLEVEL: "DEBUG"
    # CUDA_VISIBLE_DEVICES: "0,1,2,3,4,5,6,7"
    CUDA_VISIBLE_DEVICES: "0,1,2,3"
    # CUDA_VISIBLE_DEVICES: "4,5,6,7"
    CUDA_DEVICE_MAX_CONNECTIONS: 1

action: run

hydra:
  run:
    dir: ${experiment.exp_dir}/hydra

