# defaults:
#   - train: train_llama2_7b 
#   - _self_

# experiment:
#   exp_name: llama2
#   exp_dir: ./outputs_llama2
#   task:
#     type: train
#     backend: megatron
#     entrypoint: ./flagscale/train/train_llama.py
#   runner:
#     backend: torchrun
#     nnodes: 1 
#     nproc_per_node: 8 
#     hostfile: hostfile
#   envs:
#     CUDA_VISIBLE_DEVICES: 0,1,2,3,4,5,6,7 
#     CUDA_DEVICE_MAX_CONNECTIONS: 1 

# action: run 

# hydra: 
#   run:
#     dir: ${experiment.exp_dir}/hydra 


defaults:
  - train: finetune_llama3_8b
  - _self_

experiment:
  exp_name: llama3
  exp_dir: ./outputs_llama3
  task:
    type: train
    backend: megatron
    entrypoint: ./flagscale/train/train_llama.py
  runner:
    backend: torchrun
    nnodes: 1 
    nproc_per_node: 8 
    hostfile: hostfile
  envs:
    CUDA_VISIBLE_DEVICES: 0,1,2,3,4,5,6,7 
    CUDA_DEVICE_MAX_CONNECTIONS: 1 

action: run 

hydra: 
  run:
    dir: ${experiment.exp_dir}/hydra 