defaults:
  - train: demo
  - _self_

experiment:
  exp_name: aquila2
  exp_dir: ./outputs
  task:
    type: train
    backend: megatron
    entrypoint: ./flagscale/train/train_gpt.py
  # cmds:
  #   before_start: source /root/miniconda3/bin/activate flagscale
  runner:
    backend: torchrun
    nnodes: 1
    nproc_per_node: 8
  envs:
    CUDA_VISIBLE_DEVICES: 0,1,2,3,4,5,6,7
    CUDA_DEVICE_MAX_CONNECTIONS: 1

action: run

hydra:
  run:
    dir: ${experiment.exp_dir}/hydra
