torch
pybind11
einops
flask-restful
nltk 
sentencepiece
tiktoken
wrapt
zarr
tensorstore==0.1.45
wandb
triton

# git+https://github.com/Dao-AILab/causal-conv1d.git@v1.2.2.post1

# git+https://github.com/fanshiqing/grouped_gemm@v1.1.2

# git+https://github.com/state-spaces/mamba.git@v2.0.3
