# pytorch
torch==2.5.1
torchvision
torchaudio
--extra-index-url https://download.pytorch.org/whl/cu124

# base
hydra-core
deepspeed
accelerate
matplotlib
tensorboard
PyYAML
pybind11==2.13.6
transformers
https://github.com/Dao-AILab/flash-attention/releases/download/v2.7.4.post1/flash_attn-2.7.4.post1+cu12torch2.5cxx11abiFALSE-cp312-cp312-linux_x86_64.whl
