# base
accelerate
cryptography
hydra-core
matplotlib
PyYAML
pybind11==2.13.6
scikit-build
scikit-build-core
sentencepiece
tensorboard
transformers
ray

# test
coverage
pytest
pytest_asyncio
pytest-cov
pytest_mock
pytest-random-order
wandb