# Install outside of the conda environment
aiohttp
gitpython
hydra-core
numpy
pandas
psutil
pytest
PyYaml
ray
requests
tqdm

# from megatron dockerfile
black==24.4.2
isort==5.13.2
flake8==7.1.0
pylint==3.2.6

pre-commit>=2.20.0
diff-cover

