# mirror from vllm repo with some modifications

# testing utils
awscli
einops # required for MPT
httpx
peft
requests
ray
sentence-transformers # required for embedding

# Benchmarking
aiohttp

# Multimodal
pillow
