cmake >= 3.21
hydra-core:
ninja
psutil
numpy
requests
py-cpuinfo
sentencepiece
transformers >= 4.40.0
tokenizers >= 0.19.1
tiktoken >= 0.6.0
ray >= 2.9
matplotlib
py3nvml
graphviz
gitpython
tqdm
mpi4py
nvidia-ml-py