# build tools
packaging
setuptools>=49.4.0
wheel

# testing
pytest
pytest_mock
pytest-cov
pytest-forked
pytest-asyncio
pytest-rerunfailures
pytest-shard

# formatting
black==24.4.2
codespell==2.2.6
isort==5.13.2
clang-format==18.1.5

# type checking
mypy==1.10.0

# pre-commit
pre-commit>=2.20.0
