defaults:
- _self_
- serve: serve_qwen2.5_7b

experiment:
  exp_name: qwen2.5_7b
  exp_dir: outputs/${experiment.exp_name}
  task:
    type: serve
  deploy:
    inference_engine: vllm
    use_fs_serve: false
  runner:
    hostfile: null
  envs:
    CUDA_VISIBLE_DEVICES: 0
    CUDA_DEVICE_MAX_CONNECTIONS: 1

action: run

hydra:
  run:
    dir: ${experiment.exp_dir}/hydra
