name: All Tests Nvidia

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}-${{ github.actor }}
  cancel-in-progress: true

jobs:
  set-env:
    runs-on: ubuntu-latest
    outputs:
      ci_image: ${{ steps.set-env.outputs.ci_image }} # Declare output variable
    steps:
      - name: Set Environment Variable
        id: set-env # Assign an ID to this step
        run: |
          echo "ci_image=localhost:5000/flagscale:cuda12.8.1-cudnn9.7.1-python3.12-torch2.7.0-time2508261659" >> $GITHUB_OUTPUT  # Set output variable

  # Megatron Unit Tests with Matrix
  megatron-unit-tests:
    needs:
      - set-env
    uses: ./.github/workflows/unit-tests-nvidia.yml
    strategy:
      matrix:
        subset:
          - data
          - dist_checkpointing
          - distributed
          - export
          - fusions
          - inference
          - models
          - pipeline_parallel
          - post_training
          - ssm
          - tensor_parallel
          - transformer/moe
          - transformer
          - ./
    name: "megatron-${{ matrix.subset == './' && 'root' || matrix.subset }}"
    with:
      backend: megatron
      subset: ${{ matrix.subset }}
      image: ${{ needs.set-env.outputs.ci_image }}

  # Flagscale Unit Tests with Matrix
  flagscale-unit-tests:
    needs:
      - set-env
      - megatron-unit-tests
    uses: ./.github/workflows/unit-tests-nvidia.yml
    strategy:
      matrix:
        subset:
          - runner
          - ./
    name: "flagscale-${{ matrix.subset == './' && 'root' || matrix.subset }}"
    with:
      backend: flagscale
      subset: ${{ matrix.subset }}
      image: ${{ needs.set-env.outputs.ci_image }}

  # Functional Tests with Mision and Type Matrix
  functional-tests-train:
    needs:
      - set-env
      - flagscale-unit-tests
    uses: ./.github/workflows/functional-tests-nvidia.yml
    strategy:
      matrix:
        task:
          - aquila
          # - deepseek # TODO: need fix
          - mixtral
          # - llava_onevision # TODO: need fix
    name: "train-${{ matrix.task }}"
    with:
      task: ${{ matrix.task }}
      type: train
      image: ${{ needs.set-env.outputs.ci_image }}

  functional-tests-hetero:
    needs:
      - set-env
      - functional-tests-train
    # TODO: test need fix
    uses: ./.github/workflows/functional-tests-nvidia.yml
    strategy:
      matrix:
        task:
          - aquila
    name: "hetero_train-${{ matrix.task }}"
    with:
      task: ${{ matrix.task }}
      type: hetero_train
      image: ${{ needs.set-env.outputs.ci_image }}

  functional-tests-inference:
    needs:
      - set-env
      - functional-tests-hetero
    uses: ./.github/workflows/functional-tests-nvidia.yml
    strategy:
      matrix:
        task:
          - deepseek_r1_distill_qwen
          - deepseek_r1_distill_qwen-flaggems
          - qwen3
          - qwen3-flaggems
    name: "inference-${{ matrix.task }}"
    with:
      task: ${{ matrix.task }}
      type: inference
      image: ${{ needs.set-env.outputs.ci_image }}

  functional-tests-serve:
    needs:
      - set-env
      - functional-tests-inference
    uses: ./.github/workflows/functional-tests-nvidia.yml
    strategy:
      matrix:
        task:
          - qwen2_5
    name: "serve-${{ matrix.task }}"
    with:
      task: ${{ matrix.task }}
      type: serve
      image: ${{ needs.set-env.outputs.ci_image }}

  functional-tests-rl:
    needs:
      - set-env
      - functional-tests-serve
    uses: ./.github/workflows/functional-tests-nvidia.yml
    strategy:
      matrix:
        task:
          - qwen2_5
    name: "rl-${{ matrix.task }}"
    with:
      task: ${{ matrix.task }}
      type: rl
      image: ${{ needs.set-env.outputs.ci_image }}

  # Check All Tests
  all-tests:
    needs:
      - megatron-unit-tests
      - flagscale-unit-tests
      - functional-tests-train
      - functional-tests-hetero
      - functional-tests-inference
      - functional-tests-serve
      - functional-tests-rl
    runs-on: ubuntu-latest
    steps:
      - name: All Tests Completed
        run: echo "All tests completed successfully!"
