name: All Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

concurrency:
  group: ${{ github.event.pull_request.number }}-${{ github.actor }}
  cancel-in-progress: true

jobs:
  set-env:
    runs-on: ubuntu-latest
    outputs:
      ci_image: ${{ steps.set-env.outputs.ci_image }}  # Declare output variable
    steps:
      - name: Set Environment Variable
        id: set-env  # Assign an ID to this step
        run: |
          echo "ci_image=localhost:5000/flagscale:cuda-12.4.1-python-3.12-torch-2.5.1-commit-a803e11" >> $GITHUB_OUTPUT  # Set output variable

  # Megatron Report Clean
  megatron-report-clean:
    needs:
      - set-env
    uses: ./.github/workflows/report-clean.yml
    with:
      backend: megatron
      image: ${{ needs.set-env.outputs.ci_image }}  # Use the output variable from set-env job

  # Megatron Unit Tests with Matrix
  megatron-unit-tests:
    needs:
      - set-env
      - megatron-report-clean
    uses: ./.github/workflows/unit-tests.yml
    strategy:
      matrix:
        subset:
          # - data
          # - dist_checkpointing
          # - distributed
          # - export
          # - fusions
          # - inference
          # - models
          # - pipeline_parallel
          # - ssm
          # - tensor_parallel
          # - transformer/moe
          # - transformer
          - ./
    name: "megatron-${{ matrix.subset == './' && 'root' || matrix.subset }}"
    with:
      backend: megatron
      subset: ${{ matrix.subset }}
      image: ${{ needs.set-env.outputs.ci_image }}  # Use the output variable

  # FlagScale Report Clean
  flagscale-report-clean:
    needs:
      - set-env
    uses: ./.github/workflows/report-clean.yml
    with:
      backend: flagscale
      image: ${{ needs.set-env.outputs.ci_image }}  # Use the output variable

  # Flagscale Unit Tests with Matrix
  flagscale-unit-tests:
    needs:
      - set-env
      - flagscale-report-clean
    uses: ./.github/workflows/unit-tests.yml
    strategy:
      matrix:
        subset:
          - runner
          - ./
    name: "flagscale-${{ matrix.subset == './' && 'root' || matrix.subset }}"
    with:
      backend: flagscale
      subset: ${{ matrix.subset }}
      image: ${{ needs.set-env.outputs.ci_image }}  # Use the output variable

  # Functional Tests with Model and Type Matrix
  functional-tests-train:
    needs:
      - set-env
      - megatron-unit-tests
      - flagscale-unit-tests
    uses: ./.github/workflows/functional-tests.yml
    strategy:
      matrix:
        model:
          # - aquila
          - mixtral
    name: "train-${{ matrix.model }}"
    with:
      model: ${{ matrix.model }}
      type: train
      image: ${{ needs.set-env.outputs.ci_image }}  # Use the output variable

  functional-tests-hetero:
    needs:
      - set-env
      - functional-tests-train
    uses: ./.github/workflows/functional-tests.yml
    strategy:
      matrix:
        model:
          - aquila
    name: "hetero_train-${{ matrix.model }}"
    with:
      model: ${{ matrix.model }}
      type: hetero_train
      image: ${{ needs.set-env.outputs.ci_image }}  # Use the output variable

  functional-tests-serve:
    needs:
      - set-env
      - functional-tests-hetero
    uses: ./.github/workflows/functional-tests.yml
    strategy:
      matrix:
        model:
          - test_serve_base
          - test_serve_vllm_model
          - test_serve_multiple_nodes
    name: "serve-${{ matrix.model }}"
    with:
      model: ${{ matrix.model }}
      type: serve
      image: ${{ needs.set-env.outputs.ci_image }}  # Use the output variable

  # Megatron Coverage Test
  megatron-coverage-test:
    needs:
      - set-env
      - functional-tests-hetero
    if: ${{ github.event_name == 'pull_request' }}
    uses: ./.github/workflows/coverage-tests.yml
    with:
      backend: megatron
      image: ${{ needs.set-env.outputs.ci_image }}  # Use the output variable

  # Flagscale Coverage Test
  flagscale-coverage-test:
    needs:
      - set-env
      - functional-tests-hetero
    if: ${{ github.event_name == 'pull_request' }}
    uses: ./.github/workflows/coverage-tests.yml
    with:
      backend: flagscale
      image: ${{ needs.set-env.outputs.ci_image }}  # Use the output variable

  # Check All Tests
  all-tests:
    needs:
      - megatron-unit-tests
      - flagscale-unit-tests
      - functional-tests-train
      - functional-tests-hetero
      - functional-tests-serve
      - megatron-coverage-test
      - flagscale-coverage-test
    runs-on: ubuntu-latest
    steps:
      - name: All Tests Completed
        run: echo "All tests completed successfully!"

# Add in the feature for inference
# functional-tests-inference:
#   needs:
#     - functional-tests-hetero
#   uses: ./.github/workflows/functional-tests.yml
#   strategy:
#     matrix:
#       model:
#         - from_vllm
#   name: "inference-${{ matrix.model }}"
#   with:
#     model: ${{ matrix.model }}
#     type: inference
