name: Format Check

on:
  pull_request:
    branches: [ "main" ]
    types: [opened, synchronize, reopened]

jobs:
  format:
    runs-on: ubuntu-22.04
    env:
      BRANCH: main

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Set up Python 3.10
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        pip install black==24.4.2 isort==5.13.2 pre-commit==2.17.0

    - name: Check Pre-Commit
      run:  |
        set +e
        bash -x tools/codestyle/pre-commit.sh;EXCODE=$?
        exit $EXCODE
