name: Format Check

on:
  pull_request:
    branches: [ "main" ]
    types: [opened, synchronize, reopened]

env:
  INCLUDE_FILES: >-
    flagscale/auto_tuner/.*\.py|
    flagscale/auto_tuner/prune/.*\.py|
    flagscale/auto_tuner/record/.*\.py|
    flagscale/auto_tuner/search/.*\.py|
    flagscale/launcher/.*\.py|
    flagscale/logger\.py|
    flagscale/patches_utils\.py|
    flagscale/datasets/sft_dataset\.py

  EXCLUDE_FILES: >-
    megatron/megatron/core/.*\.py|
    megatron/megatron/__init__\.py

jobs:
  format:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Set up Python 3.10
      uses: actions/setup-python@v2
      with:
        python-version: "3.10"
    
    - name: Install dependencies
      run: |
        pip install black isort

    - name: Run Black
      run: |
        files=$(find . -type f \( -name "*.py" \) | grep -E "$INCLUDE_FILES" | grep -Ev "$EXCLUDE_FILES")
        echo "files:" $files
        if [ -n "$files" ]; then
          black --check --diff $files
        else
          echo "No files to format."
        fi
      
    - name: Run Isort
      run: |
        files=$(find . -type f \( -name "*.py" \) | grep -E "$INCLUDE_FILES" | grep -Ev "$EXCLUDE_FILES")
        echo "files:" $files
        if [ -n "$files" ]; then
          isort --profile black --check --diff $files
        else
          echo "No files to sort."
        fi
