name: Format Check

on:
  pull_request:
    branches: [ "main" ]
    types: [opened, synchronize, reopened]

env:
  INCLUDE_FILES: >-
    flagscale/auto_tuner/*.py
    flagscale/auto_tuner/prune/*.py
    flagscale/auto_tuner/record/*.py
    flagscale/auto_tuner/search/*.py
    flagscale/runner/*.py
    flagscale/logger.py
    flagscale/patches_utils.py
    flagscale/datasets/sft_dataset.py

jobs:
  format:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Set up Python 3.10
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"
    
    - name: Install dependencies
      run: |
        pip install black isort

    - name: Run Black
      run: |
        black --verbose --include $INCLUDE_FILES ./ --diff
      
    - name: Run Isort
      run: |
        isort --verbose --profile black $INCLUDE_FILES --diff
