# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: flagscale-test

on:
  push:
    branches: [ "main", "add_CICD" ]
  pull_request:
    branches: [ "main" ]

jobs:
  container-test-job:
      runs-on: self-hosted
      container:
        image: localhost:5000/flagscale_cicd:v1.3
        ports:
          - 80
        options: --gpus all --hostname flagscale_cicd 
      steps:
        - name: checkout-code
          uses: actions/checkout@v2

        - name: unit_test-megatron
          run: |
            export PYTHONPATH=./megatron:$PYTHONPATH
            export PYTHONPATH=./../../FlagScale/:$PYTHONPATH
            cd megatron
            # torchrun --nproc_per_node=8 -m pytest -q -x tests/unit_tests/data
            torchrun --nproc_per_node=8 -m pytest -q -x tests/unit_tests/dist_checkpointing
            torchrun --nproc_per_node=8 -m pytest -q -x tests/unit_tests/fusions
            torchrun --nproc_per_node=8 -m pytest -q -x tests/unit_tests/models
            torchrun --nproc_per_node=8 -m pytest -q -x tests/unit_tests/pipeline_parallel
            torchrun --nproc_per_node=8 -m pytest -q -x tests/unit_tests/tensor_parallel
            torchrun --nproc_per_node=8 -m pytest -q -x tests/unit_tests/transformer
            torchrun --nproc_per_node=8 -m pytest -q -x tests/unit_tests/*.py
            
        - name: unit_test-flagscale
          run: |
            export PYTHONPATH=./flagscale:$PYTHONPATH
            torchrun --nproc_per_node=8 -m pytest -q -x tests/unit_tests/launcher
        
        - name: functional_test-flagscale
          run: |
            python run.py --config-path tests/functional_tests/aquila/conf --config-name config action=test
            pytest -s tests/functional_tests/test_result.py --test_reaults_path=./tests/functional_tests/aquila/test_result