# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  REPORT_ADDR: http://120.92.110.224:8081

jobs:
  megatron-unit-test:
    runs-on: self-hosted
    container:
      image: localhost:5000/flagscale_cicd:v1.3
      ports:
        - 80
      volumes:
        - /home/flagscale_cicd/flask/static:/workspace/report
        - /home/flagscale_cicd/docker/docker_build/docker_data:/home/gitlab-runner/data
        - /home/flagscale_cicd/docker/docker_build/docker_tokenizers:/home/gitlab-runner/tokenizers
      options: --gpus all --hostname flagscale_cicd
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      
      - name: Check GPU is Free
        run: tests/scripts/gpu_check.sh
      
      - name: Megatron Unit Test
        run: tests/scripts/unit_test_megatron.sh ${{github.sha}}
      
      - name: Megatron Unit Test Coverage Online Report
        run: echo "You can access the test coverage report at the $REPORT_ADDR/${{github.sha}}/cov-report-megatron/index.html"


  flagscale-unit-test:
    runs-on: self-hosted
    needs: megatron-unit-test
    container:
      image: localhost:5000/flagscale_cicd:v1.3
      ports:
        - 80
      volumes:
        - /home/flagscale_cicd/flask/static:/workspace/report
        - /home/flagscale_cicd/docker/docker_build/docker_data:/home/gitlab-runner/data
        - /home/flagscale_cicd/docker/docker_build/docker_tokenizers:/home/gitlab-runner/tokenizers
      options: --gpus all --hostname flagscale_cicd
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Check GPU is Free
        run: tests/scripts/gpu_check.sh

      - name: Flagscale Unit Test
        run: tests/scripts/unit_test_flagscale.sh ${{github.sha}}
      
      - name: Flagscale Unit Test Coverage Online Report
        run: echo "You can access the test coverage report at the $REPORT_ADDR/${{github.sha}}/cov-report-flagscale/index.html"


  flagscale-functional-test:
    runs-on: self-hosted
    needs: flagscale-unit-test
    container:
      image: localhost:5000/flagscale_cicd:v1.3
      ports:
        - 80
      volumes:
        - /home/flagscale_cicd/flask/static:/workspace/report
        - /home/flagscale_cicd/docker/docker_build/docker_data:/home/gitlab-runner/data
        - /home/flagscale_cicd/docker/docker_build/docker_tokenizers:/home/gitlab-runner/tokenizers
      options: --gpus all --hostname flagscale_cicd
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Check GPU is Free
        run: tests/scripts/gpu_check.sh

      - name: Flagscale Functional Test
        run: tests/scripts/functional_test_flagscale.sh