name: Unit Tests Nvidia

on:
  workflow_call:
    inputs:
      backend:
        required: true
        type: string
      subset:
        required: true
        type: string
      image:
        required: true
        type: string

jobs:
  unit-test:
    runs-on: [self-hosted, Linux, X64, nvidia-0, gpus-8]
    container:
      image: ${{ inputs.image }}
      ports:
        - 80
      volumes:
        - /home/flagscale_cicd/flask/static:/workspace/report
        - /home/flagscale_cicd/flask/config:/workspace/config
        - /home/flagscale_cicd/docker/docker_build/docker_data:/home/gitlab-runner/data
        - /home/flagscale_cicd/docker/docker_build/docker_tokenizers:/home/gitlab-runner/tokenizers
      options: --gpus all --shm-size=500g --hostname flagscale_cicd --user root --ulimit nofile=65535:65535
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          ref: ${{ github.event.pull_request.head.ref }}
          ssh-strict: true
          ssh-user: git
          persist-credentials: true
          clean: true
          sparse-checkout-cone-mode: true
          fetch-tags: false
          show-progress: true
          lfs: false
          submodules: false
          set-safe-directory: true

      - name: Run Unit Test
        timeout-minutes: 90  # Automatically terminate the current step after 90 minutes
        run: |
          echo "USER: $USER"
          echo "UID: $(id -u)"
          echo "GID: $(id -g)"
          echo "Home: $HOME"
          whoami
          git config --global --add safe.directory /__w/FlagScale/FlagScale
          
          TMP_DIR=/tmp/flagscale_tmp
          echo "Copying source to temporary directory: $TMP_DIR"
          rm -rf $TMP_DIR
          mkdir -p $TMP_DIR
          cp -r /__w/FlagScale/FlagScale/. $TMP_DIR
          cd $TMP_DIR
          trap 'echo "Cleaning up temporary directory..."; rm -rf "$TMP_DIR"' EXIT

          if [ "${{ inputs.backend }}" = "train_megatron" ] || [ "${{ inputs.backend }}" = "train_flagscale" ]; then
            echo ""
            # PYTHONPATH=./:$PYTHONPATH pip install . --config-settings=backend="Megatron-LM" --verbose --no-build-isolation
          elif [ "${{ inputs.backend }}" = "vllm" ] || [ "${{ inputs.backend }}" = "inference_flagscale" ]; then
            source /root/miniconda3/bin/activate flagscale-inference
            pip install scikit-build scikit-build-core
            pip install --no-build-isolation git+https://github.com/FlagOpen/FlagGems.git@release_v1.0.0
            PYTHONPATH=./:$PYTHONPATH pip install . --config-settings=backend="vllm" --verbose --no-build-isolation
            conda deactivate
          else
            echo "Unknown backend type: ${{ inputs.backend }}"
            exit 1
          fi

          tests/scripts/unit_tests/test_subset.sh --backend ${{ inputs.backend }} --subset ${{ inputs.subset }} --id ${{ github.sha }}
        shell: bash
