# .github/workflows/create-container-unit-tests.yml
name: Unit Tests

on:
  workflow_call:
    inputs:
      backend:
        required: true
        type: string
      subset:
        required: true
        type: string

jobs:
  unit-test:
    runs-on: self-hosted
    container:
      image: localhost:5000/flagscale:cuda-12.4.1-python-3.12-torch-2.5.1-commit-a803e11
      ports:
        - 80
      volumes:
        - /home/flagscale_cicd/flask/static:/workspace/report
        - /home/flagscale_cicd/flask/config:/workspace/config
        - /home/flagscale_cicd/docker/docker_build/docker_data:/home/gitlab-runner/data
        - /home/flagscale_cicd/docker/docker_build/docker_tokenizers:/home/gitlab-runner/tokenizers
      options: --gpus all --shm-size=500g --hostname flagscale_cicd
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          ref: ${{ github.event.pull_request.head.ref }}
          # ssh-strict: true
          # ssh-user: git
          persist-credentials: true
          clean: true
          show-progress: true
          set-safe-directory: true

      - name: Unit Test Coverage Online Report
        run: |
          REPORT_ADDR=$(cat "/workspace/config/report_address")
          echo "After 'Run Unit Test' is completed/stopped, you can access the test coverage report at http://${REPORT_ADDR}/${{github.sha}}/cov-report-${{ inputs.backend }}/index.html"

      - name: Run Unit Test
        run: tests/scripts/unit_tests/test_subset.sh --backend ${{ inputs.backend }} --subset ${{ inputs.subset }} --id ${{ github.sha }}
